.body {
   font-family: "Popins";
   font-size: 17px;
   font-weight: 300;
   color: #000000;
}

.header {
   display: flex;
   height: 5000px;
   align-items: top;
   justify-content: space-between;
}

.bg-image {
   position: absolute;
   width: 1920px;
   height: 1216px;
   left: 0px;
   top: 0px;
}

.logo {
   position: absolute;
   width: 121px;
   height: 159px;
   left: 899px;
   top: 0px;
   background-blend-mode: darken;
}

.menu-list {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   justify-content: space-between;
   position: absolute;
   width: 509px;
   height: 24px;
   left: 309px;
   top: 49px;
}

.link {
   color: #000000;
   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
}

.link:hover,
.link:focus,
.link:active {
   /* color: #FDB805; */
   opacity: 40%;
}

.menu {
   position: absolute;
   width: 362px;
   height: 24px;
   left: 91px;
   top: 49px;
}

.fb {
   position: absolute;
   left: 1798px;
   right: 4.69%;
   top: 51px;
   bottom: 98.62%;
}

.fb:hover,
.fb:focus,
.fb:active {
   opacity: 0.4;
}

.instagram {
   position: absolute;
   left: 1846px;
   right: 2.19%;
   top: 51.25px;
   bottom: 98.61%;
}

.instagram:hover,
.instagram:focus,
.instagram:active {
   opacity: 0.4;
}

.titel {
   position: absolute;
   width: 468px;
   height: 110px;
   left: 726px;
   top: 142px;

   font-family: Poppins;
   font-style: normal;
   font-weight: 900;
   font-size: 144px;
   line-height: 110px;

   text-transform: uppercase;

   color: #000000;
}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 16px;

   position: absolute;
   width: 150px;
   height: 36px;
   left: 885px;
   top: 275px;

   background: #fdb805;
   border-radius: 75px;
}

.order {
   position: static;
   width: 118px;
   height: 4px;
   left: 16px;
   top: 16px;

   font-family: Poppins;
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 36px;
   display: flex;
   align-items: center;
   text-align: center;
   text-transform: capitalize;

   color: #000000;
   background: #fdb805;
}