.body {
   font-family: 'Popins';
   font-size: 17px;
   font-weight: 300;
   color: #000000;
}

.header {
   display: flex;
   height: 5000px;
   align-items: top;
   justify-content: space-between;
}

.bg-image {
   position: absolute;
   width: 1920px;
   height: 1216px;
   left: 0px;
   top: 0px;
}

.logo {
   position: absolute;
   width: 121px;
   height: 159px;
   left: 899px;
   top: 0px;
   background-blend-mode: darken;

}

.menu-list {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   justify-content: space-between;
   position: absolute;
   width: 362px;
   height: 24px;
   left: 309px;
   top: 49px;
}

.link {
   color: #000000;
   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px
}

.link:hover,
.link:focus,
.link:active {
   /* color: #FDB805; */
   opacity: 50%;
}

.menu {
   position: absolute;
   width: 362px;
   height: 24px;
   left:91px;
   top: 49px;
}

.fb {
   position: absolute;
   left: 1779px;
   right: 6.3%;
   top: 38.25px;
   bottom: 99.03%;
}

.instagram {
   position: absolute;
   left: 1809px;
   right: 4.74%;
   top: 38.25px;
   bottom: 99.03%;
}

.titel {
   position: absolute;
   width: 468px;
   height: 110px;
   left: 726px;
   top: 142px;

   font-family: Poppins;
   font-style: normal;
   font-weight: 900;
   font-size: 144px;
   line-height: 110px;


   text-transform: uppercase;

   color: #000000;

}

.button {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;

   position: absolute;
   width: 180px;
   height: 33px;
   left: 875px;
   top: 280px;
   
}

.order { 
   position: static;
   width: 180px;
   height: 33px;
   left: 0px;
   top: 0px;
   font-family: Poppins;
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 36px;
   /* display: flex; */
   align-items: center;
   text-align: center;
   text-transform: capitalize;

   color: #000000;
   background:#FDB805;
}
   
  
